*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: url(../images/fondo.jpg)center top;
	background-size: cover;
	background-attachment: fixed;
	font-family: Arial;	
}
.registro-box{
	width: 320px;
	height: 730px;
	background-color: #000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute; 
	transform: translate(-50%, -48%);
	padding: 60px 30px;
	margin: 100px 0px 20px 0px;
}
.registro-box h1{
	margin: 0;
	padding: 1px 0px 35px 0px;
	text-align: center;
	font-size: 34px;
}
.registro-box label{
	padding: 0;
	margin: 0;
	display: block;
	font-size: 20px;

}
.registro-box input{
	width: 100%;
	margin-bottom: 20px;
}
.registro-box input[type="text"], .registro-box input[type="password"], .registro-box input[type="email"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.registro-box select{
	margin-bottom: 20px;
	border: none;
	background: transparent;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.registro-box option{
	border: none;
	color: #fff;
	background-color: #000;
} 

.button{
	border: none;
	outline: none;
	height: 40px;
	background-color: #fff;
	font-size: 20px;
	border-radius: 20px;
}
.button:hover{
	background-color: #E1E1E1;
	color: #37289D;
	box-shadow: inset 0 0 0 3px #37289D;
}

.iframehead{
	width: 100%;
	height: 100%;
	border: 0px;
}
.iframefoot{
	width: 100%;
	height: 186px;
	border: 0px;
	margin: 800px 0 0 0;
}
@media screen and (max-width: 600px){
	.registro-box{
		margin: 170px 0px 0px 0px;
	}
	.iframehead{
	height: 300px;
	}
	.iframefoot{
	height: 250px;
	}
}